body {
  margin: 0;
  padding: 0;
  background: #e6ecf0 !important;
}

/*Navbar Start*/

/* left section of navbar started */

.navbar{
  background-color: #fff !important;
  height: 47px;
  border-bottom: 1px solid rgb(158, 158, 158) !important;
  position: fixed !important;
  z-index: 10000;
}
.navbarleftdiv ul{
  list-style-type: none !important;
  margin-top: -10px ;
  font-size: 14px !important;
  font-weight: bold !important;
}
.navbarleftdiv ul a{
  text-decoration: none !important;
}
.navbarlistitem{
  display: inline ;
  color: #9E9E9E !important;
  margin-left: 20px;
  margin-right: 10px;
}
.navbarleftdiv ul a:hover{
  padding-bottom:13px !important;
  border-bottom: 3px solid #1DA1F2 !important;
}
.fa-home,
.fa-bell,
.fa-envelope{
  font-size: 1.4em !important;
  margin-right: 6px !important;  
}

/* left section of navbar ends */

/* right section of navbar started */

.navbarrightdiv{
  margin-right: 50px !important;
}
.navbarrightdiv ul{
  list-style-type: none !important;
  margin-top: 0 !important;
}
ul.parent > li{
  display: inline;
  margin-left: 10px ;
}
.navbarrightdiv ul li input{
  border:1px solid #e6ecf0 !important;
  border-radius: 20px ;
  margin-top: 8px !important;
  width: 220px !important;
  height: 25px !important;
  background-color: #f5f8fa !important;
}
.navbarrightdiv ul li input::-webkit-input-placeholder{
  padding-left: 10px;
}
#navbaravatar{
  border-radius: 50% !important;
  height: 34px !important;
  width: 32px !important;
  position: absolute;
  margin-top: 5px;
  cursor: pointer !important;
}

/* right section of navbar partially finished */

/* right section's avatar onClick drop menu started */

hr{
  margin-left: -15px;
  border: 0.02em solid #e6ecf0 !important;
}
#navbaravatardropmenu{
  position: absolute !important;
  margin-left: 340px !important;
  margin-top: 10px !important;
  background: #fff !important;
  display: none;
  padding-left: 14px !important; 
}
#navbaravatardropmenu li{
 margin-left: 0px;
 margin-top: 15px;
 margin-bottom: 15px;
 font-size: 14px;
}
#navbaravatardropmenu li h3{
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 80px;
}
#navbaravatardropmenu li:nth-child(2){
  font-size: 13px;
  margin-top: -10px;
  color: #657786;
}
#navbaravatardropmenu li svg{
  margin: 2px;
  height: 15px;
  padding-right: 10px;
  color: #657786;
}
#navbaravatardropmenu li svg.fa-moon{
  padding-left: 60px;
  color:#1DA1F2;
}
.navbarrightdiv ul li button{
  width: 80px !important;
  height: 34px !important;
  border: 1px solid transparent !important;
  border-radius: 20px ;
  background-color: #4AB3F4 !important;
  margin-left: 30px;
  cursor: pointer;
}
.navbarrightdiv ul li button h2{
  padding: 0;
  margin: 0;
  color: #fff !important;
  font-size: 16px !important;
}

/* navbar tweeter icon */
.navbarrightdiv ul li svg{
  margin-right: 220px;
  color:#1DA1F2;
}

/* right section's avatar onClick drop menu ends */

/* right section's tweet button onClick pop up dialog box starts */

.popupdialogpaper{
  border-radius: 20px !important;
}
div.popupdialogpaper div:first-of-type{
  padding-bottom: 0 !important;
}
#popupdialogtextarea{
  border-radius: 10px;
  border: 2px solid #C6E7FB;
  height: 100px;
  width: 590px;
}
#popupdialogtextarea::-webkit-input-placeholder{
  padding-left: 10px;
  font-size: 18px;
  color: #4AB3F4;
}
/* right section's tweet button onClick pop up dialog box ends */

/*Navbar End*/

/*Profile papercard Start*/

.profilepapercarddiv{
  margin-left: 62px !important;
  display: inline;
}
.homepagemyprofilecard{
  height: 215px !important;
  width: 288px !important;
  margin: 20px;
  margin-top: 55px;
  text-align: center !important;
  display: inline-block !important;
}
.profilepapercardupper{
  background: #1DA1F2 !important;
  height: 95px !important;
  width: 288px !important;
  margin: 0 !important;
  text-align: center !important;
  display: block !important;
}
.profilepapercardupper img{
  width: 288px;
}
.profilepapercardavatar{
  margin-top: -47px !important;
  margin-left: -7px !important;
  border: 3px solid white !important;
}

div.profilepapercardname{
  font-size: 17px !important;
  margin-top: -58px !important; 
  margin-left: 7px !important;
  font-weight: bold !important;
  line-height: 30px !important;
  letter-spacing: 1px !important;
}
.profilepapercardusername{
  font-size: 14px !important;                            
  margin-top:-40px !important; 
  margin-left: 4px !important;
  line-height: 25px !important;
  color: #657786 !important;                            
  }
.profilepapercardtaglist{
  list-style-type: none !important;
  margin-top:-15px !important;
  margin-left: -80px ;
}
ul.profilepapercardtaglist > li{
  display: inline !important;
  margin: 10px !important;
  margin-right: 18px !important;
  margin-left: 16px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #657786 !important;
}
.profilepapercardcountlist{
  list-style-type: none !important;
  margin-top: -16px !important;
  margin-left: -65px;
}
ul.profilepapercardcountlist > li{
  display: inline !important;
  margin-right: 55px;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #1DA1F2 !important;
}
.profilepapercardcountlistitem:nth-child(3){
margin-left: 10px;
}
/* My profile card ends */
/* users profile card starts */
.avahoverprofcard{
  position: absolute;
  margin-top: 0px;
  z-index: 5;
  width: 288px;
  display: none;
}

div.avahoverprofcard div.profilepapercardname{
  text-align: center;
  margin-right: 20px;
}
div.avahoverprofcard div.profilepapercardusername{
  text-align: center;
  margin-right: 20px;
  font-weight: normal;
}
div.avahoverprofcard ul.profilepapercardtaglist{
  margin-left: 0px;
  padding-left: 0px;
}
div.avahoverprofcard ul.profilepapercardcountlist{
 margin-left: 15px;
 padding-left: 0px;
}
div.avahoverprofcard ul.profilepapercardcountlist > :nth-child(2){
  margin-left: -20px;
  margin-right: 55px;
}

/* users profile card ends */

/*Profile papercard End*/

/*Trends papercard start */

.trendspapercarddiv{
  margin-left: 62px;
  position: absolute;
}
.trendspapercard{
  height: 410px !important;
  width: 288px !important;
  margin: 20px !important;
  margin-top: 0px !important;
}
.trendspapercardinnerdiv{
  padding: 15px !important;
}
.trendspapercardinnerdiv h5{
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  font-size: 22px !important;
}
.trendspapercardchangespan{
  color: #1DA1F2 !important;
  font-weight: normal !important;
  font-size: 12px !important;
  margin-left: 4px !important;
}
.trendspapercardlist{
  list-style-type: none !important;
  margin-left: -40px !important;
}
.trendspapercardlist a{
  text-decoration: none;
}
.trendspapercardlist a:hover{
  text-decoration: underline;
  color: #1DA1F2;
 
}
.trendspapercardlist a:nth-child(odd) li{
  font-size: 14px !important;
  font-weight: bold !important;
  color: #1DA1F2 !important;
  letter-spacing: 1px !important;
}
.trendspapercardlist > li:nth-child(even){
  font-size: 14px !important;
  color: #657786 !important;
  margin: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}

/*Trends papercard End */

/*Timeline section Start*/

.timelinediv{
  display: inline;
  position: absolute;
}
.timelinetwtbar{
  position: absolute;
  width: 590px;
  margin-top: -235px;
  margin-left: 380px;
}

.timelinepaper{
  width: 590px !important;
  margin-top: 120px;
  margin-left: -10px;
}
.timelinesearchbarpaper{
  background-color: #E8F5FD !important;
  position: absolute;
  
  height: 62px !important;
  z-index: 100 !important;
}
.timelinesearchbaravatar{
  margin-left: 20px !important;
  margin-top: 10px !important;
}
.timelinesearchbardiv{
  margin-left: 70px !important;
  margin-top: -45px !important;
  padding-right: 18px;
}
.timelinesearchbar{
  border: 1px solid #A4D9F9 !important;
  width:500px !important;
  border-radius: 10px !important;
  height: 37px !important;
}
.timelinesearchbar::-webkit-input-placeholder{
  color: #1DA1F2 !important;
  padding-left: 10px !important;
  font-size: 16px !important;
}
div.tweetdropmenu div span div div{
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 6px !important;
  color: #66757f;
}
.mediaimage{
  border-radius: 10px !important;
  margin-bottom: 10px !important;
}
.cardactions a span:first-child{
  margin-left: 70px !important;
}
.cardactions a{
  text-decoration: none !important;
}
.cardactions a span{
  margin-right: -12px !important;
  color: #9E9E9E;
}
.cardactions a span svg{
  padding-right: 10px !important;
}
.cardactions a span:hover{
  color: red !important;
}
/* Timeline section ends */

/* suggestions sections start */

.suggestion{
  border-bottom: 1px solid #e6ecf0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.suggestionspapercarddiv{
  position: absolute;
  width: 285px;
  margin-top: -235px;
  margin-left: 980px;
}

.suggestionspapercarddiv h3{
  padding-left: 20px;
  margin-top: 5px;
}
.suggestionspapercarddiv #refreshviewall a{
  padding-left: 10px;
  text-decoration: none;
  font-weight: normal;
  font-size: 13px;
  color: #1DA1F2;
}
.suggestionspapercarddiv #refreshviewall a:hover{
  text-decoration: underline;
}
h3#whotofollow{
  margin-bottom: 0;
}
h4#suggestionname{
  position: absolute;
  margin-left: 50px;
  margin-top: -40px;
}
div#suggesttwthandle{
  font-weight: normal;
  margin-top: -20px;
  font-size: 14px;
  margin-left: 50px !important;
}
div#suggestavatar{
  margin-left:20px ;
}

.suggestfolbtn{
  background: white;
  width:80px;
  margin-left: 70px;
  margin-top: 5px;
  height: 30px;
  color: #1DA1F2;
  font-weight: 900;
  border: 1px solid #1DA1F2;
  border-radius: 20px;
  cursor: pointer;
}
.suggestfolbtn:hover{
  background: #eaf5fd;
}
#findpeople{
  margin-left:20px;
  color:  #1DA1F2;
  font-size: 14px;
  margin-bottom: 5px;
}
p#findpeople span{
  padding-right: 10px;
}
p#findpeople a{
  text-decoration: none;
  color: #1DA1F2;
}
p#findpeople a:hover{
  text-decoration: underline;
}

/* suggestion sections ends */
/* twitter help links section starts */

.twthelplinksdiv{
  position: absolute;
  width: 285px;
  margin-top: 355px;
  margin-left: 980px;
}
#twthelplinks{
  font-size: 12px;
  padding: 10px;
  color: #657786;
}
#twthelplinks a{
  text-decoration: none;
  color: #657786;
  padding: 5px;
}
#twthelplinks a:hover{
  text-decoration: underline;
  color: #1DA1F2;
}
/* twitter help links section endss */

/* Twitter Timeline page closed*/

/* Search results page start */

/* search term showing paper start */

#searchtermdiv{
padding-top: 26px;
width:100%;
}
.searchtermpaper{
height: 60px;
background: #1DA1F2 !important;
}
.searchtermpaper h2{
padding-top: 13px;
margin-left: 90px;
color:white;
}

/* search term showing paper end */

/* search page second navbar shown below searched term  start */

.searchnavbar{
  background-color: #fff !important;
  height: 53px;
  border-bottom: 1px solid rgb(158, 158, 158) !important;
  z-index: 0 !important;
}
.searchnavdiv ul{
  list-style-type: none !important;
  margin-top: -2px ;
  font-size: 15px !important;
  font-weight: bold !important;
}
.searchnavdiv ul:first-child{
  margin-left: 0px;
}
.searchnavdiv ul a{
  text-decoration: none !important;
}
.searchnavdiv ul a > li{
  display: inline ;
  color: #9E9E9E !important;
  margin-left: 20px;
  margin-right: 20px;
}
.searchnavdiv ul a:hover{
  padding-bottom:13px !important;
  border-bottom: 3px solid #1DA1F2 !important;
}
/* button on the right side of search page second navbar start */
.verticon{
  margin-right: -10px;
}

div#vertdroplist{
 padding-left: 10px;
 font-size: 15px;
}
#vertdroplist p{
  margin:5px;
  margin-top: 15px;
}
#vertdroplist p:first-child{
  margin-top: 10px;
  margin-bottom: 10px;
}
#vertdroplist p span{
  font-size: 12px;
}
/* button on the right side of search page second navbar end */

/* search page second navbar shown below searched term end */

/* search filter button and it's dropdown menu paper start */

#searchfilterdiv{
  width:280px;
  margin-left: 78px;
  margin-top: -3px;
}
.searchfilter h3{
  padding-top: 17px;
  padding-left: 20px; 
  padding-bottom: 13px;
  margin-bottom: 0px;
}
.searchfilter h3 span{
  font-size: 13px;
  font-weight: normal;
  padding-left: 15px;
  cursor: pointer;
  color:  #1DA1F2;
}
#filtertypes{
  display: none;
}
#filtertypes h5{
  padding-left: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;

}
#filtertypes a{
  text-decoration: none ; 
  color:  #1DA1F2;
}
#filtertypes a:hover{
  text-decoration: underline;
}

/* search filter button and it's dropdown menu paper end */

/* Who to follow suggestions of search page start */
div.searchpgwhotoflw{
  margin-top: 12px;
}
.searchpgwhotoflwtoggle{
  margin-top: -10px !important;
}
.searchpgwhotoflw{
  width: 280px;
  margin-left: 77px;
}
.searchpgwhotoflw h3{
  padding-left: 20px;
  margin-top: 5px;
}
.searchpgwhotoflw #refreshviewall a{
  padding-left: 10px;
  text-decoration: none;
  font-weight: normal;
  font-size: 13px;
  color: #1DA1F2;
}
.searchpgwhotoflw #refreshviewall a:hover{
  text-decoration: underline;
}

/* Who to follow suggestions of search page end */


.searchtweetfeedsdiv{
  margin-top: -1155px;
  margin-left: 380px;
}
.searchtweetfeedsdiv .timelinepaper{
  margin-top: 0 !important;
}
.searchtweetfeedstoggle{
  margin-top: -1386px;
  margin-left: 380px;
}
.searchtrendsdiv{
  margin-top: 600px;
  margin-left: 57px;
  position: absolute;
}
.searchtrendsdiv .trendspapercard{
  width: 280px !important;
}

.searchtrendstoggle{
  margin-top: -25px;
}
.searchpgtwtlinks{
  width:280px ;
  margin-left: 77px;
  margin-top: 450px;
}